<div class="auth-content clearfix">
  <div class="main-page-image-wrap">
    <div class="left-wrapper">
      <img src="assets/images/main.png">
    </div>
  </div>
  <div class="auth-partials">
    <div ui-view></div>
  </div>
</div>

<style type="text/css">
  .auth-content{
    width: 100%;
  }
  .main-page-image-wrap{
    width: 50%;
    float: left;
  }
  .left-wrapper img{
    width: 96%;
  }
  .auth-partials{
    width: 50%;
    float: left;
  }
  .right-wrapper {
    padding: 145px;
  }
</style>